#blockPage {
    display: none;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: auto;
    width: 500px;
    align-items: center;
}

#blockTableDiv {
    overflow-y: auto;
    width: auto;
    border: 3px solid var(--accent-dark);
    border-radius: 8px;
}

#blockTable {
    background-color: var(--accent-light);
    border-collapse: collapse;
    width: 100%;
}

#blockTable td {
    vertical-align: middle;
    text-align: center;
}

#blockTable tr:nth-child(2n+1) .timerDropdown {
    background-color: var(--accent-light);
}

#blockTable tr:nth-child(2n) .timerDropdown {
    background-color: var(--accent-medium);
}

#blockTable tr:nth-child(2n+1) .timeOption {
    background-color: var(--accent-light);
}

#blockTable tr:nth-child(2n) .timeOption {
    background-color: var(--accent-medium);
}

.timerDropdown {
    border: none;
    margin: 0 auto;
}

/* ADD BLOCKED SITE */

#addBlockedSiteDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-light);
    width: auto;
    padding: 5px;
    border-radius: 8px;
}

#blockInput {
    background-color: var(--accent-dark);
    color: var(--cream);
    border-radius: 5px;
}

#addBlockedSiteButton {
    background-color: var(--accent-dark);
    color: var(--cream);
    border-radius: 5px;
}