#chartPage {
    display: none;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: auto;
    width: 500px;
    align-items: center;
}

#chartContent {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: auto;
    width: 500px;
    align-items: center;
}

#chart {
    max-height: 300px;
    max-width: 300px;
}

#chartBackground {
    border: 3px solid var(--accent-dark);
    background-color: var(--accent-light);
    padding: 30px;
    border-radius: 8px;
}

#chartButtons {
    background-color: var(--accent-light);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    border-radius: 8px;
}

#pieButton {
    background-image: url("../images/ui-images/pie-chart.png");
    height: 28px;
    width: 28px;
}

#barButton {
    background-image: url("../images/ui-images/bar-chart.png");
    height: 28px;
    width: 28px;
}

#lineButton {
    background-image: url("../images/ui-images/line-chart.png");
    height: 28px;
    width: 28px;
}