#totalPage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 300px;
    width: 500px;
}

/* table elements */

#tableDiv {
    overflow-y: auto;
    width: auto;
    border: 3px solid var(--accent-dark);
    border-radius: 8px;
}

::-webkit-scrollbar {
    display: none;
    background-color: var(--accent-dark);
    width: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-light);
    border-radius: 8px;
    border: 1px solid black; 
}

#timeList {
    background-color: var(--accent-light);
    border-collapse: collapse;
    width: 100%;
}

.tableImage {
    text-align: center;
}

.tableButton {
    text-align: center;
}

.blockButton {
    background-image: url("../images/ui-images/light-cancel.png");
    height: 28px;
    width: 28px;
}

.deleteButton {
    background-image: url("../images/ui-images/delete.png");
    height: 28px;
    width: 28px;
}

/* add website button */

#addSiteDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-light);
    width: auto;
    padding: 5px;
    border-radius: 8px;
}

#newForm {
    width: auto;
}

#newDomain {
    background-color: var(--accent-dark);
    color: var(--cream);
    border-radius: 5px;
}

#addSiteButton {
    background-color: var(--accent-dark);
    color: var(--cream);
    border-radius: 5px;
}