body {
    background-image: url("../../images/blocked-images/kid-cup.jpg");
    background-size: 100% 100%;
    /* background-position: center;  */
    background-attachment: fixed;
    background-repeat: no-repeat; 
}