@import url("css/theme.css");
@import url("css/whitelist.css");

:root {
    --dark: #0D1117;
    --accent-dark: #151B23;
    --accent-light: #262C36;
    --border: #3D444D;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

::-webkit-scrollbar-track {
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #7B7B7B;
}

#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--accent-dark);
    width: 100%;
    max-height: 10vh;
    border-bottom: 1px solid var(--border);
}

button {
    height: 3vw;
    width: 5vw;
    min-height: 30px;
    min-width: 110px;
    max-height: 50px;
    border-radius: 8px;
    background-color: var(--accent-light);
    color: white;
    font-size: 1rem;
    border: 1px solid var(--border);
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: var(--border);
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: var(--dark);
}

#settingsPage {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid var(--border);
    border-radius: 8px;
    z-index: 10;
    background-color: var(--accent-dark);
    width: 700px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.modalTitle {
    font-weight: bold;
}

.closeModalButton {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 2rem;
    background-color: inherit;
}

.modalBody {
    padding: 10px 15px;
}

#overlay {
   position: fixed;
   opacity: 0;
   transition: 200ms ease-in-out;
   top: 0;
   left: 0; 
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}