@import url("css/total.css");
@import url("css/chart.css");
@import url("css/block.css");

:root {
    /* purple */
    /* --light: #757fa4;
    --dark: #242832;
    --accent-light: #8a95bd;
    --accent-medium: #7981a1;
    --accent-dark: #545b75;
    --cream: #fcfacc; */

    /* green */
    /* --light: #F0F0D7;
    --dark: #727D73;
    --accent-light: #bfcab3;
    --accent-medium: #AAB99A;
    --accent-dark: #9bad88;
    --cream: #fcfacc; */

    /* cotton candy */
    --light: #bbd0ff;
    --dark: #b8c0ff;
    --accent-light: #ffd6ff;
    --accent-medium: #e7c6ff;
    --accent-dark: #c8b6ff;
    --cream: #fcfacc;

    /* cobalt */
    /* --light: #e7ecef;
    --dark: #8b8c89;
    --accent-light: #a3cef1;
    --accent-medium: #6096ba;
    --accent-dark: #274c77;
    --cream: #fcfacc; */

    /* forest */
    /* --light: #c7bfa8;
    --dark: #654d39;
    --accent-light: #839f8c;
    --accent-medium: #607c68;
    --accent-dark: #475c4e;
    --cream: #fcfacc; */

    /* sepia */
    /* --light: #B9B28A;
    --dark: #504B38;
    --accent-light: #F8F3D9;
    --accent-medium: #EBE5C2;
    --accent-dark: #ded49b;
    --cream: #fcfacc; */
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--dark);
}

.button:hover {
    border: 1px solid yellow;
}

#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#topbar-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#totalOrDailyDropdown {
    background-color: var(--light);
}

#settings {
    background-image: url("images/ui-images/settings.png");
    height: 28px;
    width: 28px;
}

#checkMoreButton {
    background-image: url("images/ui-images/bar-chart.png");
    height: 28px;
    width: 28px;
}

#title {
    color: var(--accent-medium);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#content {
    background-color: var(--light);
    border-radius: 5px;
    height: auto;
    width: auto;
}

/* GLOBAL TABLE SETTINGS  */

.tableImage {
    text-align: center;
}

.tableButton {
    text-align: center;
}

.blockButton {
    background-image: url("../images/ui-images/light-cancel.png");
    height: 28px;
    width: 28px;
}

.deleteButton {
    background-image: url("../images/ui-images/delete.png");
    height: 28px;
    width: 28px;
}

tr {
    padding: 15px;
}

tr:nth-child(2n) {
    background-color: var(--accent-medium);
}

td {
    border: 1px solid var(--accent-dark);
    padding: 5px;
}

td:nth-child(2) {
    font-weight: bold;
}